html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


//**COLORS **/
:root {
  --primary-color: #B0B8FB;
  --primary-color-100: #D8DCFD;
  --primary-color-200: #D3D1F3;
  --primary-color-300: #C3BCE7;
  --white: #ffffff;
  --white-100: #F6F7FF;
  --white-200: #F0F3FF;
  --white-200: #E9ECF5;
  --white-200: #E2E4EB;
  --black: #050517;

}